.inputContainer {
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 70%;
  height: 10%;
  padding: 0 1rem;
}
.inputContainer input {
  border: solid 2px #003e75;
  width: 100%;
  border-radius: 2rem;
  height: 100%;
  padding: 1.5rem;
  padding-right: 5rem;
}
.inputContainer input:focus {
  outline:none;
}
.inputContainer div {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #003E75;
  background: transparent;
  border: none;
  border-radius: 2rem;
  width: 10%;
  font-size: 3em;
  cursor: pointer;
  position: absolute;
  right: 0.5rem;
  height: 100%;
}
@media screen and (max-width: 620px){
  .inputContainer{
    width: 100%;
    bottom: 1px;
    height: 8%;
    padding: 0 1%;
  }
  .inputContainer input {
    border-radius: 1rem;
    padding: 1rem;
    padding-right: 3rem;
  }
  .inputContainer div {
    font-size: 2rem;
    border-radius: 1rem;
    right: 3%;
  }
}
@media screen and (max-width: 1024px){
  
}