.messageContainer {
  display: flex;
  padding: 0 2%;
  margin: 0.5rem 0;
}
.messageContainer div {
  display: inline-block;
  border-radius: 20px;
  max-width: 80%;
  padding: 0.5rem 1rem;
}
.messageContainer p {
  width: 100%;
  letter-spacing: 0;
  float: left;
  font-size: 1.1em;
  word-wrap: break-word;
  margin: 0;
}
.currentUser {
  justify-content: flex-end;
}
.currentUser div {
  background: #003E75;
  border-bottom-right-radius: 0;
}
.currentUser p {
  color: #fff
}
.otherUser {
  justify-content: flex-start;
}
.otherUser div {
  background: #F3F3F3;
  border-bottom-left-radius: 0;
}
.otherUser p:first-child {
  color: hsl(0, 0%, 40%);
}
.otherUser p:last-child {
  color: hsl(0, 0%, 0%);
}