.infoBar {
  background: #003E75;
  height: 100%;
  width: 25%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  position: absolute;
  box-shadow: 0 2px 10px 0 rgb(70 69 69 / 20%);
  color: white;
  font-weight: 600;
  font-size: 1.5em;
}
.roomContainer {
  margin-top: 6%;
  margin-left: 5%;
}
.usersContainer {
  margin-top: 5%;
  margin-left: 5%;
}
.usersList{
  font-size: 1em;
  position: absolute;
  overflow-y: auto;
  height: 75%;
  width: 94%;
}
.usersList::-webkit-scrollbar {
  width: 8px;
  background-color: #f5f5f5;
  border-radius: 20px;
}
.usersList::-webkit-scrollbar-thumb{
  width: 8px;
  background-color: darkgrey;
  border-radius: 20px;
}
.usersList ul{
  margin: 0;
}
.signOutContainer{
  position: absolute;
  bottom: 4%;
  left: 5%;
}
.signOutContainer a{
  text-decoration: none;
  color: white;
}
.closeIcon{
  display: none;
}
.closeIcon img{
  content: url('../../assets/close.png');
}
@media screen and (max-width: 1024px){
  .infoBar{
    border-radius: 0;
    box-shadow: none;
  }
  .closeIcon{
    display: none;
  }
}
@media screen and (max-width: 620px){
  .infoBar{
    z-index: 10;
    width: 85%;
    border-radius: 0;
    box-shadow: none;
    top: 0;
  }
  .closeIcon{
    display: block;
    position: absolute;
    right: 5%;
    top: 2%;
  }
  .signOutContainer a{
    display: none;
  }
}