.infoBar {
  background: #003E75;
  height: 100%;
  width: 30%;
  position: absolute;
  color: white;
  font-weight: 600;
  font-size: 1.5em;
  overflow: hidden;
}
.roomContainer {
  display: flex;
  justify-content: space-between;
  margin: 5% 5% 0;
}
.roomContainer div {
  display: block;
  cursor: pointer;
}
.roomContainer div:last-child {
  display: none;
}
.usersList{
  margin-left: 5%;
  font-size: 1em;
  position: absolute;
  overflow-y: auto;
  height: 80%;
  width: 94%;
}
.usersList::-webkit-scrollbar {
  width: 8px;
  background-color: #f5f5f5;
  border-radius: 20px;
}
.usersList::-webkit-scrollbar-thumb{
  width: 8px;
  background-color: darkgrey;
  border-radius: 20px;
}
.usersList > div {
  display: flex;
  width: 94%;
  margin-top: 0.5rem;
  border-bottom: solid 1px;
  font-size: 2.5rem;
}
.usersList > div:first-child {
  margin-top: 0;
}
.usersList > div:last-child {
  border-bottom: none;
}
.usersList > div div {
  display: flex;
  flex-direction: column;
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
}
.usersList > div div span:first-child {
  font-size: 1.5rem;
}
.usersList > div div span:last-child {
  font-size: 0.8rem;
}
.searchContainer {
  display: flex;
  margin: 0.75rem;
  justify-content: center;
  align-items: center;
  color: #000;
}
.searchContainer svg {
  position: absolute;
  right: 2rem;
  cursor: pointer;
}
.searchContainer > input {
  width: 100%;
  height: 2.5rem;
  padding: 1.5rem;
  border: none;
  border-radius: 2rem;
}
input:focus {
  outline: none;
}
@media screen and (max-width: 1024px){
  .infoBar{
    border-radius: 0;
    box-shadow: none;
  }
}
@media screen and (max-width: 620px){
  .infoBar{
    z-index: 10;
    width: 90%;
    top: 0;
  }
  .roomContainer div {
    display: none;
  }
  .roomContainer div:last-child {
    display: block;
  }
  .usersList {
    height: 85%;
  }
}