.messages {
  padding: 1% 0;
  overflow: auto;
  flex: auto;
  position: absolute;
  width: 70%;
  right: 0;
  height: 90%;
  background: #e3e3e3;
}
.messages::-webkit-scrollbar {
  width: 8px;
  background-color: #f5f5f5;
  border-radius: 20px;
}
.messages::-webkit-scrollbar-thumb{
  width: 8px;
  background-color: darkgrey;
  border-radius: 20px;
}
@media screen and (max-width: 620px){
  .messages{
    width: 100%;
  }
}